<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-for</title>
</head>
<body>
    <h1>v-for</h1>
    <div id="app">
        <p>数组</p>
        <ul>
            <li v-for="item in sortItems">
                {{item}}
            </li>
        </ul>
        <p>数组对象</p>
        <ul>
            <li v-for="(student,index) in sortStudents">
                {{index}}:{{student.name}}-{{student.age}}
            </li>
        </ul>
    </div>


</body>
<script src="../js/utils.js"></script>
<script src="../js/vue.js"></script>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            items:[12,88,24,5,66],
            students:[
                {name:'pyj',age:26},
                {name:'ying',age:25},
                {name:'a',age:30},
                {name:'b',age:5},
                {name:'c',age:40},
            ]
        },
        computed:{
            sortItems:function(){
                return this.items.sort(sortNum);
            },
            sortStudents:function(){
                return sortByKey(this.students,'age')
            }
        }
    });
    
</script>
</html>